/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/780db519-25e3-4e39-bbdd-a37e3d4844c1/d1nctt-59f0de92-826f-449b-915a-37eabf720746.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc4MGRiNTE5LTI1ZTMtNGUzOS1iYmRkLWEzN2UzZDQ4NDRjMVwvZDFuY3R0LTU5ZjBkZTkyLTgyNmYtNDQ5Yi05MTVhLTM3ZWFiZjcyMDc0Ni5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.nwXZFt6qdoLgdXyFjzTPhWU-PzgiK0qojRpxkSyrhCo");
    background-origin: content-box;
    background-position: 197px 44%;
    /* background-repeat:no-repeat; */
}

nav ul {
    list-style: none;
    background-color: #f2f2f2;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    background-color: #333;
    color: #ded8cc;
}
